

/**umb_name:Title Content*/
.titleContent {
	color: #1F2937;
	font-size: 24px;
	font-weight: 700;
}

/**umb_name:Title Hijau*/
.umbracoTitleHijau {
	color: #AEC23C;
	font-size: 24px;
	font-weight: 600;
}

/**umb_name:Float Left*/
.umbracoFloatLeft {
	float: left;
	margin: 0 16px;
}

/**umb_name:Float Right*/
.umbracoFloatRight {
	float: right;
	margin: 0 16px;
}
