@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;


@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
    var children = homePage.NavbarAboutLinks;
}

<div style="" class="tentang-navbar-link" id="tentang-navbar-link">
    @foreach (var item in children)
    {
        <a href="@item.Url">@item.Name</a>
    }
</div>