@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.CareerPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="container container-karir rich-text-content">
    @Model.CareerContent
</div>