@inherits Umbraco.Web.Mvc.UmbracoViewPage<App_Code.Models.ContactFormModel>

@using App_Code.Controllers;
@using App_Code.Models;

@{
    
}

@using (Html.BeginUmbracoForm<ContactController>(nameof(ContactController.DoRegister)))
{
    @Html.AntiForgeryToken()

    <div class=" ">
        <div class="form-input">
            <label class="" for="contactNama">Name</label>
            <input id="contactNama" class="" type="text" name="Nama"  placeholder="Input Your Name" required />
        </div>
        <div class="form-input">
            <label class="" for="contactEmail">Email</label>
            <input id="contactEmail" class="" type="text" name="Email"  placeholder="Input Your Email" required />
        </div>
        <div class="form-input">
            <label class="" for="contactPesan">Your Message</label>
            <textarea id="contactPesan" class="" name="Pesan"  placeholder="Write your message, and we will contact you as soon as possible" required></textarea>
        </div>
    </div>
    <div class="">
        <div class="">
			<div class="g-recaptcha" data-sitekey="6LdcQs0iAAAAAHBwGIOsrLKeXcHrs9MklbRGmyDA" data-callback="enableBtn">></div>
            <div class="">
                <button id="submit_details" class="action" type="submit" disabled>Send <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
}